.few,
.steps-remaining {
  position: absolute;
  left: 120px;
}
.steps-remaining {
  top: 172px;
  font-size: 32px;
  letter-spacing: -0.02em;
}
.few {
  top: 136px;
  font-size: 24px;
  font-weight: 600;
}
.provide-your-required {
  top: 273px;
  left: 855px;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  width: 400px;
}
.business-details,
.next2,
.provide-your-required {
  position: absolute;
  letter-spacing: 0.01em;
}
.business-details {
  top: 215px;
  left: 855px;
  font-size: 24px;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  width: 400px;
}
.next2 {
  top: 16px;
  left: 181px;
  text-transform: uppercase;
  font-weight: 500;
}
.buttonstroke3,
.fluentarrow-left-20-filled-icon1 {
  position: absolute;
  top: 12px;
  left: 355px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.buttonstroke3 {
  top: 521px;
  left: 855px;
  border-radius: 15px;
  background-color: #bf13bf;
  width: 400px;
  height: 48px;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
.enter-company-name,
.input6 {
  position: absolute;
  top: 16px;
  left: 20px;
}
.input6 {
  top: 353px;
  left: 855px;
  border-radius: 15px;
  background-color: #f2f2f2;
  width: 400px;
  height: 48px;
  overflow: hidden;
  color: #787878;
}
.fluentcaret-down-24-filled-icon,
.input7 {
  position: absolute;
  top: 14px;
  left: 359px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.input7 {
  top: 425px;
  left: 855px;
  border-radius: 15px;
  background-color: #f2f2f2;
  width: 400px;
  height: 48px;
  color: #787878;
}
.undraw-profile-data-re-v81r-icon {
  position: absolute;
  top: 261px;
  left: 120px;
  width: 485px;
  height: 318px;
  overflow: hidden;
}
.line-div {
  position: absolute;
  top: 207px;
  left: 719px;
  border-right: 2px solid #f2f2f2;
  box-sizing: border-box;
  width: 2px;
  height: 418px;
}
.frame-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 64px;
}
.signup2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 768px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #333;
  font-family: Raleway;
}
